.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  display: flex;
  flex-direction: row;
  height: 7vh;
}

.header h1 {
  padding-left: 5px;
  margin-bottom: 0px;
}

.header button {
  margin-left: auto;
  margin-right: 5px;
  height: fit-content;
  padding: 10px;
  align-self: center;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.dmbasictable {
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  margin: 0px;
}

.tableContainer {
  background-color: rgb(88, 156, 102);
  border-radius: 5px;
  width: fit-content;
  max-width: 900px;
  height: fit-content;
  margin-top: 5px;
}

.tableContainer button {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  border: 0px;
  border-radius: 5px 5px 0px 0px;
  padding-left: 8px;
  padding-right: 8px;
}

.tableHeader {
  display: flex;
}

.tableContainer h4 {
  margin: 0px;
  padding: 5px;
}

.dmbasictable {
  border-spacing: 2px 5px;
}

.dmbasictable tr, td, th {
  border-radius: 1px;
  padding: 10px;
}

.dmbasictable tr:nth-child(even) td{
  background-color: rgb(199, 194, 194);
}

.dmbasictable tr:nth-child(odd) td{
  background-color: rgb(231, 224, 224);
}

.rolledrow {
  box-shadow: 0px 0px 0px 3px rgb(0,0,0);
  font-weight: 500;
}

.spellinfo {
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;
	text-align: left;
	padding: 5px;
	background-color: white;
	border-radius: 0px 0px 5px 5px;
}

.spellinfo p {
  margin: 3px;
}

iframe {
  width: 100%;
  resize: both;
  overflow: auto;
  height: 89vh
}

.iframediv {
  max-width: 900px;
  width: 100%;
  height: 100%;
}

.tableArea {
  background-color: rgb(141, 155, 152);
  min-width: 20%;
  float: none;
  overflow-y: auto;
  flex-grow: 100;
  padding: 5px;
  flex-grow: 100;
}

.bigtableArea {
  background-color: rgb(141, 155, 152);
  min-width: 40%;
  height: auto;
  overflow-y: auto;
  padding: 5px;
}

.collapser {
  background-color: rgb(197, 197, 218);
  display: flex;
}

.collapser button {
  background-color: lightgray;
  align-self: center;
  border: 0px;
  height: 100%;
}

.tab {
  float: left;
  height: 23px;
  min-width: 60px;
  margin: 0px;
  margin-left: 2px;
  margin-top: auto;
  padding-right: 4px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px 5px 0px 0px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tabtext {
  max-width: 110px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tabtext {
  margin: 0;
}

.tab:hover {
  background-color: rgb(201, 201, 201);
}

.tabadd:hover {
  background-color: rgb(201, 201, 201);
}

.tabadd {
  float: right;
  height: 23px;
  margin: 0px;
  margin-left: 3px;
  margin-top: auto;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px 5px 0px 0px;
  border: none;
}

.currenttab {
  float: left;
  height: 23px;
  min-width: 60px;
  margin: 0px;
  margin-top: auto;
  margin-left: 2px;
  padding-right: 4px;
  background-color: rgb(177, 177, 177);
  border-radius: 5px 5px 0px 0px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tabbutton {
  margin-left: auto;
  margin-right: 0px;
  padding: 0px 4px 1px 4px;
  border: 0px;
  color: white;
  background-color: rgb(197, 197, 197);
  border-radius: 5px;
  float: right;
}

.tabbar {
  background-color:rgb(235, 235, 235);
  display: flex;
  justify-content: flex-start;
  padding: 4px 0px 0px 4px;
  height: 30px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.newtabwindow {
  background-color: white;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  padding: 5px
}

.newtabwindow button {
  border: none;
  border-radius: 2px;
}

.newtabwindow input {
  border: none;
  margin-bottom: 5px;
  background-color:rgb(231, 231, 231);
  border-radius: 3px;
  padding: 5px;
}

.newtabwindow input:focus {
  outline: none;
}

.mainArea {
  display: flex;
  flex-direction: row;
  height: 93vh;
}

.searchbar {
  background-color: white;
  padding: 2px 4px;
  margin-bottom: 0px;
  width: fit-content;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.searchbar input {
  border: none;
  height: 25px;
  padding-left: 6px;
  font-size: .9rem;
}

.searchbar input:focus {
  outline: none;
}

.searchresults {
  width: 100%;
  border-collapse: collapse;
  position: absolute;
  width: 200px;
  margin-left: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19)
}

.searchresult {
  background-color: white;
  margin: 0px;
  display: flex;
  align-items:flex-start;
}

.searchresult button {
  width: 100%;
  border: none;
  background-color: white;
  text-align: left;
}

.searchresult button:hover {
  background-color: gray;
}

.spellinfo tr:nth-child(even) td{
  background-color: rgb(199, 194, 194);
}

.spellinfo tr:nth-child(odd) td{
  background-color: rgb(231, 224, 224);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
